body {
    background-color: rgb(255, 86, 86);
}

.form {
    margin: 2em;;
}

h6 {
    font-size: large;
    padding: 10px;
}

input, textarea{
    border-radius: 5px;
    border: 0;
    padding: 5px;
}

h2 {
    margin: 20px;
    text-align: center;
    font-family: Verdana;
    size: 100px;
}
