{% extends 'base.html' %}

{% load static %}

{% block custom_css %} <link href="{% static 'css/signup.css' %}" rel="stylesheet"> {% endblock %}

{% block title %} Sign Up {% endblock %}

{% block body %}

<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
    </div>
  </div>

{% endblock %}