{% extends 'base.html' %}

{% load static %}

{% block title %} {{product.title}} {% endblock %}

{% block body %}

{% if error %}
<script>
  alert("{{error}}");
</script>
{% endif %}

<div class="row" style="margin: 15px;">
    <div class="col-2">
        <img src="{{product.icon.url}}" class="img-fluid img-thumbnail" height="150px" width="150px">
    </div>
    <div class="col-10">
        <h1 style= "margin-top: 20px;"><a href="{{product.url}}" style="color: red; text-decoration: none;">{{product.title}}</h1></a>
    </div>
</div>
 
<div class="row" style="padding: 35px;">
    <div class="col-8">
        <img src="{{product.image.url}}" class="img-fluid">
    </div>
    <div class="col-4 my-auto" style= "text-align: center;">
        <button id="vote_button" class="btn btn-danger" style="width: 80%; margin-bottom: 40px;"><span class="fa fa-thumbs-up"></span>  Upvote <span id="vote_span" style="margin-left: 15px; font-weight: 800;">{{product.total_votes}}</span></button>
        <h4 style="margin-bottom: 40px;">Created by {{product.hunter}}</h4>
        <button class="btn btn-primary" style="width: 60%; margin-bottom: 40px;" onclick="location.href='{{product.url}}'">Website</button>
        <h6>{{product.pub_date_pretty}}</h6>
    </div>
</div>

<div class="row" style="padding: 40px;">
    <div class="col-12">
        <p class="description">{{product.description|linebreaks}}</p>
    </div>
</div>

<form  id="hidden_form">
    {% csrf_token %}
    <input type="hidden">
</form>

<!-- Some CSS Stying -->
<style type="text/css">
    p {
        font-family: monospace;
        font-weight: bold;
        font-size: large;
    }
</style>


<!-- Handle real-time upvoting -->
<script> 
    $(document).ready(function($){
    $('#vote_button').click(function(e){
        e.preventDefault()
        //if your upvote has class arrow?
        $.ajax({
           type: "POST",
           url: "{% url 'upvote' product.id %}",
           data: {},
           headers: {'X-CSRFToken': '{{ csrf_token }}'},
           success: function (output) { //do something with returned data

                var total = "{{product.total_votes}}";
                document.getElementById('vote_span').textContent = Number(total) + 1
                console.log('{{product.total_votes}}')
                document.getElementById('vote_button').disabled = true;
            }
        });
    });

})
</script>

{% endblock %}